# Root .gitignore
/node_modules
/terraform/.terraform
/terraform/terraform.tfstate*
/terraform/terraform.tfvars
/venv
/__pycache__
/__pycache__/
*.pyc
/.env
/backend/node_modules
/frontend/node_modules
backend/.env
frontend/.env
.DS_Store
dist/
build/
.idea/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tmp
*.temp
.cache
/git_commands
/documentation